/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        --theme: #FFFFFF;
        --text: #000000;
        --navbkgnd: #333;
        --navtext: #FFFFFF;
        --navhover: #111;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        --theme: #000000;
        --text: #FFFFFF;
        --navbkgnd: #000000;
        --navtext: #FFFFFF;
        --navhover: #EEE;
    }
}

body {
    background-color: var(--theme);
    color: var(--text);
}

h1 {
    color: var(--text);
    text-transform: uppercase;
    text-align: left;
    font-size: 250%;
    margin: 0px;
    padding: 0px;
}

h2 {
    color: var(--text);
    background: var(--theme);
}

.devices a:link {
    text-decoration: none;
    background-color: var(--theme);
    color: var(--text);
}

.devices a:visited {
    text-decoration: none;
    background-color: var(--theme);
    color: var(--text);
}

section {
    color: var(--theme);
    background: var(--text);
    vertical-align: top;
    margin: 0px;
    padding: 0px;
}

div {
    margin: 10px;
}

table {
    font-family: arial, sans-serif;
    background-color: "LightGray";
    margin-left: auto;
    margin-right: auto;
}

th {
    padding: 5px;
    border-bottom: 5px solid var(--text);
    border-radius: 10px 10px 0px 0px;
    text-transform: uppercase;
}

tr {
    opacity: 0.7;
}

td {
    border: 1px solid var(--theme);
    border-radius: 2px;
    padding: 2px;
    text-shadow: 1px 1px var(--text);
    text-align: center;
}

tr:hover {
    opacity: 1.0;
}

.nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: var(--navbkgnd);
    margin: 0px;
    padding: 0px;
}

.nav li {
    float: left;
}

.nav li a {
    display: inline-block;
    color: var(--navtext);
    text-align: center;
    margin: 0px;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: var(--navhover);
}

.active {
    opacity: 1.0;
}

.charts select {
    -webkit-appearance: none;
    width: 125px;
    margin: 5px 5px 5px 5px;
    background-color: #D3D3D3;
    border: 0px;
    border-radius: 0px;
    padding: 5px;
    text-decoration: none;
    font-family: arial, sans-serif;
    opacity: 0.8;
}

.charts button {
    width: 25px;
    margin: 5px 5px 5px 5px;
    border: 0px;
    background-color: "LightGray";
    color: "DarkGray";
    text-decoration: none;
    font-family: arial, sans-serif;
    opacity: 0.8;
}

.settings button {
    width: 125px;
    margin: 5px 5px 5px 5px;
    border: 0px;
    background-color: "LightGray";
    color: "DarkGray";
    text-decoration: none;
    font-family: arial, sans-serif;
    opacity: 0.8;
}

.devices button {
    width: 100px;
    margin: 0px;
    border: 0px;
    background-color: "LightGray";
    color: "DarkGray";
    text-decoration: none;
    font-family: arial, sans-serif;
    opacity: 0.8;
}

.settings input {
    width: 50%;
}

.axis path,
.axis line {
    fill: none;
    stroke: var(--text);
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.axis-grid line {
    fill: none;
    stroke: var(--theme);
    stroke-width: 1;
}
.axis {
    stroke: var(--text);
}
