h1 {
    color: #000000;
    text-transform: uppercase;
    text-align: left;
    font-size: 250%;
    margin: 0px;
    padding: 0px;
}

h2 {
    color: #000000;
    background: #FFFFFF;
}

section {
    color: #000000;
    background: #FFFFFF;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
}

div {
    margin: 10px;
}

table {
    font-family: arial, sans-serif;
    background-color: "LightGray";
    margin-left: auto;
    margin-right: auto;
}

th {
    padding: 5px;
    border-bottom: 5px solid #000000;
    border-radius: 10px 10px 0px 0px;
    text-transform: uppercase;
}

tr {
    opacity: 0.7;
}

td {
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    padding: 2px;
    text-shadow: 1px 1px #FFFFFF;
    text-align: center;
}

tr:hover {
    opacity: 1.0;
}

.nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    margin: 0px;
    padding: 0px;
}

.nav li {
    float: left;
}

.nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #111;
}

.active {
    opacity: 1.0;
}

.charts select {
    width: 125px;
    margin: 5px 5px 5px 5px;
    border: 0px;
    background-color: "LightGray";
    color: "DarkGray";
    text-decoration: none;
    font-family: arial, sans-serif;
    opacity: 0.8;
}

.charts button {
    width: 25px;
    margin: 5px 5px 5px 5px;
    border: 0px;
    background-color: "LightGray";
    color: "DarkGray";
    text-decoration: none;
    font-family: arial, sans-serif;
    opacity: 0.8;
}

.settings button {
    width: 125px;
    margin: 5px 5px 5px 5px;
    border: 0px;
    background-color: "LightGray";
    color: "DarkGray";
    text-decoration: none;
    font-family: arial, sans-serif;
    opacity: 0.8;
}

.devices button {
    width: 100px;
    margin: 0px;
    border: 0px;
    background-color: "LightGray";
    color: "DarkGray";
    text-decoration: none;
    font-family: arial, sans-serif;
    opacity: 0.8;
}
